################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TravelApi/obj
/TravelAPISol/.vs/TravelAPISol
/TravelAPISol/TravelApi/obj
